body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.title-font {
	font-family: 'Playfair Display', serif;
}

.content {
  background-color: #344753;
  width: 960px;
}

.navbar-toggler {
	padding: 0.3rem 0.5rem;
}

.toggler-icon {
	color: white; 
	font-size: 1.6rem;
 }

.page-title {
	color: white;
 	background-image: url('banner_576x130.png');
 	min-height: 130px;
}

.page-title-text {
	font-size: 6rem;
}

.main {
	background-color: white;
}

.handyman-background {
	background-color: #EEE0B7;
}

.upcycle-background {
	background-color: #EEC5B7;
}

.footer-text {
	color: #CCCCCC;
	font-size: 0.8rem;
}

.card-img {
    width: 100%;
    object-fit: cover;
}


