header {
 	background-image: url('banner_576x130.png');
    background-size: 1200px;
	height: 25vh;
}

main {
	background-color: blue;
}

footer {
	background-color: green;
	height: 200px;
}

.title-font {
	font-family: 'Playfair Display', serif;
}

.page-title-text {
	font-size: 10rem;
	color: white;
	padding-top: 9vh;
}

.navbar-toggler {
	padding: 0.3rem 0.5rem;
	margin: 2rem;
}

.toggler-icon {
	color: white; 
	font-size: 5rem;
 }

.dropdown-font {
	font-family: Arial, Helvetica, sans-serif;
 }

.dropdown-text {
	font-size: 4rem;
	font-weight: bold;
	color: black;
}
