
.page-title {
	color: white;
 	background-image: url('banner_576x130.png');
	max-width: 100%;
	height: auto;
}

.navbar-toggler {
	padding: 0.3rem 0.5rem;
}

.toggler-icon {
	color: white; 
	font-size: 5vw;
 }

.title-font {
	font-family: 'Playfair Display', serif;
}

.page-title-text {
	font-size: 12vw;
 	min-width: 200px;
}

.footer {
  background-color: #344753;
}

.footer-text {
	color: #CCC;
	font-size: 0.8rem;
}

